<!doctype html>

<!-- ASSIGN OUR ANGULAR MODULE -->
<html ng-app="customerApp">
<head>
	<!-- META -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1"><!-- Optimize mobile viewport -->

	<title>Sign Up Page</title>

	<!-- SCROLLS -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"><!-- load bootstrap -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<style>
		html 					{ overflow-y:scroll; }
		body 					{ padding-top:50px; }
		#todo-list 				{ margin-bottom:30px; }
		#todo-form 	 			{ margin-bottom:50px; }
		.entry { padding: 10px; }
		.bar { padding: 10px;}
	</style>

	<!-- SPELLS -->
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script><!-- load angular -->

	<script src="js/controllers/main.js"></script> <!-- load up our controller -->
	<script src="js/services/factory.js"></script> <!-- load our todo service -->
	<script src="js/core.js"></script> <!-- load our main application -->

	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
<script src="//d79i1fxsrar4t.cloudfront.net/jquery.liveaddress/3.2/jquery.liveaddress.min.js"></script>
<script>
var ss = jQuery.LiveAddress({
    key: '11473215805948124',
    waitForStreet: true, 
    debug: false,
    target: "US",
    addresses: [{
      address1: "#street",
      locality: "#city",
      administrative_area: "#state",
      postal_code: "#ZIP",
      country: "#country",
      delivery_point_barcode: "#barcode"
    }]
});
function gotIt() {
	document.getElementById("messageDisplay").style.display = "none";
}
</script>

</head>
<!-- SET THE CONTROLLER -->
<body ng-controller="mainController">
	<div class="container">
		<!-- HEADER AND TODO COUNT -->
		<div class="jumbotron text-center">
			<h1>Create an Account</h1>
		</div>
		<div id="messageDisplay" style="display: none;">
			<p id="email"></p>
			<p id="First"></p>
			<p id="Last"></p>
			<p id="Phone"></p>
			<p id="Address"><p>
			<button id="ok" onclick="gotIt();">OK</button>
		</div>

		<!-- FORM TO CREATE CUSTOMERS -->
		<div id="todo-form" class="row">
			<div class="col-sm-8 col-sm-offset-2 text-center">
				<form>
					<div class="form-group">

						<!-- BIND THIS VALUE TO Customer.text IN ANGULAR -->
						<input type="text" class="form-control input-lg entry" placeholder="First Name" ng-model="formData.firstname"></br>
						<input type="text" class="form-control input-lg entry" placeholder="Last Name" ng-model="formData.lastname"></br>
						<input type="text" class="form-control input-lg entry" placeholder="Email" ng-model="formData.email"></br>
						<input type="text" class="form-control input-lg entry" placeholder="Phone Number" ng-model="formData.phone_number"><br>
						<input type="text" id="street" class="form-control input-lg entry" placeholder="Mailing Address" ng-model="formData.address"></br>
						<input autocomplete="on" type="text" id="city" class="form-control input-lg entry" placeholder="City" ng-model="formData.city"></br>
						<input autocomplete="on" type="text" id="state" class="form-control input-lg entry" placeholder="State" ng-model="formData.state"></br>
						<input autocomplete="on" type="text" id="ZIP" class="form-control input-lg entry" placeholder="ZIP" ng-model="formData.zip_code"></br>
						

					</div>

					<!-- createCustomer() WILL CREATE A NEW CUSTOMER -->
					<button type="submit" class="btn btn-primary btn-lg" ng-click="createCustomer()">Create</button>
					<button type="submit" class="btn btn-primary btn-lg" ng-click="updateCustomer()">Update</button>
					<button type="submit" class="btn btn-primary btn-lg" ng-click="readCustomer()">Find</button>
					<button type="submit" class="btn btn-primary btn-lg" ng-click="deleteCustomer()">Delete</button>
				</form>
			</div>
		</div>

	</div>

</body>
</html>